@model IEnumerable<SimpleBlog.Models.Tag>

@{
    ViewData["Title"] = "Список тегов";
}

<div class="container">
    <h2>Теги</h2>

    <a asp-action="Create"><button class="create">Создать тег</button></a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in Model)
            {
                <tr>
                    <td>@tag.Id</td>
                    <td>@tag.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>